# dependencies
node_modules/

# production
dist/
dist-ssr/
*.local

# environment variables
.env

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# system files
.DS_Store
.vscode/
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# optional: allow VSCode project config to be tracked
!.vscode/extensions.json
